%table
  %tr
    %th
      = f.label :title, "Title"
    %td
      = f.text_field :title
  %tr
    %th
      = f.label :body, "Your Question"
    %td
      = f.text_area :body

  %tr
    %th
      = f.label :tags, "Tags"
    %td
      = f.text_field :tags

  %tr
    %th
    %td
      = f.hidden_field :exercise_id, :value => @question.exercise_id 