%h1 Questions#show

= form_for(@response, url: responses_path) do |f|
  = f.label(:text, "Your Response")
  = f.text_area(:text, size: "40x5")
  = f.hidden_field(:question_id, :value => @question.id)
  = submit_tag("Submit")
