%h1 Welcome to CodeWorkout!!! (... still under construction)

%p This is the main content area ...

%p Prototyping links (will go away, but just for development ideas now):
%ul
  %li= link_to 'List of users', users_path
  %li= link_to 'Mockup page 1 (MCQ)', '/static_pages/mockup1'
  %li= link_to 'Mockup page 2 (code writing)', '/static_pages/mockup2'
  %li= link_to 'Mockup page 3 (code fill-in)', '/static_pages/mockup3'
  %li= link_to 'Typography/theme look and feel', '/static_pages/typography'

%p
  Sample question teasers in the right sidebar are mock-up text at the
  moment as well, but will eventually be replaced with live data.  Most
  menu commands and footer links are also placeholders at present.

%p
  %strong Developer note:
  Be sure to read notes.txt in the root of the project.
