%div#alerts{style: 'display: none;'}
.form-horizontal
  %h4.text-danger '*' indicates a required field.
  .form-group
    = label_tag :name, 'Name *', class: 'control-label col-xs-2'
    .col-lg-7.col-md-6.col-xs-7
      = text_field_tag :name, nil, id: 'wo-name', class: 'form-control', maxlength: 50,
        placeholder: 'e.g. Recursion exercises', value: @workout.present? ? @workout.name : ''
  .form-group
    = label_tag :description, 'Description', class: 'control-label col-xs-2'
    .col-lg-7.col-md-6.col-xs-7
      %textarea#description{ placeholder: '(optional) Exercise explanation, given after submission',
        rows: 2, class: 'form-control richtexteditor', value: @workout.present? ? @workout.name : '' }
  .ex-area.form-group
    = label_tag :ex_list, 'Exercises *', class: 'control-label col-xs-2'
    .col-lg-7.col-md-6.col-xs-7
      .empty-msg.text-danger{ style: "display: #{@workout.andand.exercise_workouts.any? ? 'none;' : 'block;'}" }
        - if @lti_launch
          Use the search bar above the form to find exercises.
        - else
          Use the column on the left to find exercises.
      %ul.list-group#ex-list{ style: "display: #{@workout.andand.exercise_workouts.any? ? 'block;' : 'none;'}",
        data: { exercises: (@workout.andand.exercise_workouts.any? ? @workout.exercise_workouts.to_json : false) } }

  .form-group
    %p.lead Add to Course Offerings
    #workout-offering-fields.col-lg-9.col-md-6.col-xs-9
      = render partial: 'workout_offering_fields', locals: { removable: false }

  .form-group
    = button_tag type: 'button', id: 'add-offering', class: 'btn btn-success' do
      %i.fa.fa-plus{ style: 'padding-right 5px;' }
      Add to Another Course Offering


  .form-group
    %button#btn-submit-wo.btn.btn-primary Submit
    = link_to 'Back', workouts_path

  #add-offering-form{ style: 'display: none;' }
    = render partial: 'workout_offering_fields', locals: { removable: true }
