%br
= semantic_form_for @workout, html: { class: "form-horizontal" } do |f|
  = f.semantic_errors
  .row
    .col-md-10
      = f.input :name, maxlength: 50,
        placeholder: "Enter Workout name"

  -#%a.btn.btn-large{href: "#kicModal", role: "button", data: {toggle: "modal"}} Add exercise    
  = f.semantic_fields_for :exercise_workouts do |ew|         
    = render 'exercise_workout_fields', f: ew
  .links
    = link_to_add_association 'Add Exercise', f, :exercise_workouts
  #kicModal.modal.fade
    .modal-content
      .modal-header
        %button.close{data:{dismiss: "modal"}} &times;
        %h4.modal-title Confirmation
      .modal-body
        -#= f.semantic_fields_for :exercise_workout do |ew|         
          -#= render 'exercise_workout_fields', f: ew
        -#.links
          -#= link_to_add_association 'Add Exercise', f, :exercise_workouts    
        .modal-footer
          %a.btn{data:{dismiss: "modal"}} Close
          %a.btn.saver Save changes
  
  #course_offerings
    = f.semantic_fields_for :workout_offerings do |co|
      = render 'workout_offering_fields', f: co
    .links
      = link_to_add_association 'Add Workout to Course Offering', f,:workout_offerings    
      
  .row
    .col-md-4
      = f.input :points_multiplier, as: :select,
        collection: (1..10).step(1).to_a,
        label: "Experience Points",
        hint: "Workout question points multiplier"
  .row
    .col-md-10
      = f.input :description, label: "Workout description",
        placeholder: "(optional) Exercise explanation, given after submission",
        input_html: { class: 'richtexteditor span10', rows: 2 }
  .row
    .col-md-4
      = f.input :scrambled,
        label: "Randomize?",
        input_html: { checked: 'checked', value: true}

  .actions
    = f.submit 'Save'
