.form-horizontal
  %h4.text-danger '*' indicates a required field.
  .form-group
    = label_tag :name, 'Name *', class: 'control-label col-md-2'
    .col-md-6
      = text_field_tag :name, nil, id: 'wo-name', class: 'form-control', maxlength: 50, placeholder: 'e.g. Recursion exercises'
  .form-group
    = label_tag :description, 'Description', class: 'control-label col-md-2'
    .col-md-6
      %textarea#description{ placeholder: '(optional) Exercise explanation, given after submission',
        rows: 2, class: 'form-control richtexteditor'}
  .ex-area.form-group
    = label_tag :ex_list, 'Exercises *', class: 'control-label col-md-2'
    .col-md-6
      - if @lti_launch
        .empty-msg.text-danger Use the search bar above the form to find exercises.
      - else
        .empty-msg.text-danger Use the column on the left to find exercises.
      %ul.list-group#ex-list{ style: 'display: none;' }

  .form-group
    %p.lead Add to Course Offerings
    #workout-offering-fields.col-md-8
      = render partial: 'workout_offering_fields', locals: { removable: false }

  .form-group
    = button_tag type: 'button', id: 'add-offering', class: 'btn btn-success' do
      %i.fa.fa-plus{ style: 'padding-right 5px;' }
      Add to Another Course Offering


  .form-group
    %button#btn-submit-wo.btn.btn-primary Submit
    = link_to 'Back', workouts_path

  #add-offering-form{ style: 'display: none;' }
    = render partial: 'workout_offering_fields', locals: { removable: true }
