.form-horizontal
  %h4.text-danger '*' indicates a required field.
  .form-group
    = label_tag :name, 'Name *', class: 'control-label col-md-2'
    .col-md-6
      = text_field_tag :name, nil, id: 'wo-name', class: 'req form-control', maxlength: 50, placeholder: 'e.g. Recursion exercises'
  .form-group
    = label_tag :description, 'Description', class: 'control-label col-md-2'
    .col-md-6
      %textarea#description{ placeholder: '(optional) Exercise explanation, given after submission',
        rows: 2, class: 'form-control richtexteditor'}
  .ex-area.form-group
    = label_tag :ex_list, 'Exercises *', class: 'control-label col-md-2'
    .col-md-6
      - if @lti_launch
        .empty-msg.text-danger Use the search bar above the form to find exercises.
      - else
        .empty-msg.text-danger Use the column on the left to find exercises.
      %table.table#ex-list{ style: 'display: none;' }
        %thead
          %tr
            %th #
            %th Exercise Name
            %th Points
            %th Remove
        %tbody

  .row
    %h3 Add Workout to Course Offering
  .form-group
    = label_tag :coff_select, 'Course *', class: 'control-label col-md-2'
    .col-md-6
      = collection_select nil, nil, current_user.managed_course_offerings, :id, :display_name, { prompt: 'Select one of your course offerings' }, { id: 'coff-select', class: 'req form-control'}
  .form-group
    = label_tag :openingdate, 'Opens On *', class: 'control-label col-md-2'
    .col-md-6
      .input-group.date#opening-datepicker
        %input#openingdate{ type: 'text', class: 'req form-control' }
        %span.input-group-addon
          %i.fa.fa-calendar
  .form-group
    = label_tag :softdeadline, 'Soft Deadline *', class: 'control-label col-md-2'
    .col-md-6
      .input-group.date#soft-datepicker
        %input#softdeadline{ type: 'text', class: 'req form-control' }
        %span.input-group-addon
          %i.fa.fa-calendar
  .form-group
    = label_tag :openingdate, 'Hard Deadline *', class: 'control-label col-md-2'
    .col-md-6
      .input-group.date#hard-datepicker
        %input#harddeadline{ type: 'text', class: 'req form-control' }
        %span.input-group-addon
          %i.fa.fa-calendar

  = link_to 'Back', workouts_path, { style: 'padding-right: 10px;' }
  %button.btn.btn-primary#btn-submit-wo Submit
