.progress.col-md-12
- if (!session[:current_workout].nil? && WorkoutScore.find_by(user_id: uid, workout_id: session[:current_workout]))
  .col-md-3
    Progress: 
  .col-md-9
    %progress{value: WorkoutScore.find_by(user_id: uid, workout_id: session[:current_workout]).exercises_completed,max: Workout.find(session[:current_workout]).exercises.length }
- elsif !session[:current_workout].nil?
  .col-md-3
    Progress: 
  .col-md-9
    %progress{value: 0.0}
.progress.col-md-12.slim
  .bar.bar-success{:style => "width: #{xp_data[3]}%;"}
    -if xp_data[3] >= 20
      ="#{xp_data[0]}"
      %i.fa.fa-star
  .bar.bar-warning{:style => "width: #{xp_data[4]}%;"}
    -if xp_data[4] >= 20
      ="#{xp_data[1]}"
      %i.fa.fa-star-o
  .bar.bar-danger{:style => "width: #{xp_data[5]}%;"}
    -if xp_data[5] >= 20
      ="#{xp_data[2]}"
      %i.fa.fa-remove
