%article.workout.thumbnail.lg
  .title
    %i.fa.fa-folder-open
    = link_to w.name, workout_path(:id => w[:id])
    %span.badge.badge-info= w.exercises.count.to_s
  .summary
    .radial-progress
      .circle
        .mask.full
          .fill
        .mask.half
          .fill
          .fill.fix
        .shadow
      .inset
        .pct
  .body
    .text
      = teaser(w.description)
  .info
    = difficulty_image(w.highest_difficulty.to_i)
    .taglist
      - w.all_tags.each do |t|
        = link_to t, search_path(search: t), method: :post, class: 'tag'

-#.well.well-sm.col-md-5
  .row
    .col-md-12
      - xp_data = Workout.xp_distribution(1, w.id)
      = render partial: 'workouts/progress',
        locals: { xp_data: Workout.xp_distribution(1, w.id) }
