- size ||= 'lg'
%article.workout.thumbnail{ class: size }
  .title
    %i.fa.fa-folder-open
    = link_to w.name, workout_path(id: w[:id])
    %span.badge.badge-info= w.exercises.count.to_s
  .summary
    .radial-progress
      .circle
        .mask.full
          .fill
        .mask.half
          .fill
          .fill.fix
        .shadow
      .inset
        .pct
          = WorkoutScore.find_by(workout: w,user: current_user) ? (WorkoutScore.find_by(workout: w,user: current_user).score / w.returnTotalWorkoutPoints).round(2) : 0
  .body
    .text
      = teaser(w.description)
  .info
    = difficulty_image(w.highest_difficulty.to_i)
    .taglist
      - w.tags.each do |t|
        = link_to t.name, search_path(search: t.name),
          method: :post, class: 'tag'

-#.well.well-sm.col-md-5
  .row
    .col-md-12
      - xp_data = Workout.xp_distribution(1, w.id)
      = render partial: 'workouts/progress',
        locals: { xp_data: Workout.xp_distribution(1, w.id) }
