%h1#head{ data: { course: @course.andand.slug, term: @term.andand.slug, organization: @organization.andand.slug } }
  Find workouts that work for you
.row.search-area
  = form_tag workouts_search_path(params[:search]), remote: true, class: 'form-horizontal' do
    .col-xs-7
      = text_field_tag :search, nil, placeholder: 'e.g. Looping', class: 'form-control input-sm', id: 'search-terms'
      - if @course
        = hidden_field_tag :course, @course.id
      = hidden_field_tag :offerings, @searching_offerings # to pass to Workout.search
      = hidden_field_tag :lms_assignment_id, @lms_assignment_id
      = hidden_field_tag :suggested_name, @suggested_name
    .col-xs-2
      = submit_tag 'Search', class: 'btn btn-default btn-sm'
    - if @can_create # see workouts_controller#new_or_existing
      .col-xs-2
        - # create a link to create a new workout, either in the gym or for a course_offering 
        = link_to 'Create New', @new_workout_path, class: 'btn btn-success btn-sm'
.row.search-results
  - if @default_results.blank?
    Use the search bar above to find workouts!
  - else
    %p.lead Here are workouts that are commonly used in this course:
    - @default_results.each do |term, workouts|
      .lead.text-warning
        = term.display_name
      - workouts.in_groups_of(2, false) do |row|
        .row
          = render row, user: current_user, lms_assignment_id: @lms_assignment_id, new_or_existing: true, can_update: (can? :edit, row), suggested_name: @suggested_name
