= render partial: "layouts/breadcrumb",
  locals: { wid: @workout.id, exid: nil, off: nil }

%h1= @workout.name

%p
  Tags:
  - @workout.all_tags.each do |t|
    =link_to t, search_path(search: t), method: :post, class: 'tag'
%p
  = button_to 'Practice Workout', practice_workout_path(params[:id]),
    method: :get, btn: 'primary'

%table.table.table-striped{ style: 'width: auto' }
  %thead
    %tr
      %th Course Offering
      %th Open
      %th Due
      %th Close
  %tbody
    - @workout.workout_offerings.each do |woff|
      %tr
        %td= woff.course_offering.display_name
        %td.xeditable{ id: 'opening_date',
          data: { type: 'text',
          url: '/workout_offerings/' + woff.id.to_s,
          resource: 'workout_offering',
          name: 'opening_date',
          xeditable: "true",
          pk: woff.id.to_s,
          model: 'workout_offering' } }= woff.opening_date
        %td.xeditable{ id: 'soft_deadline',
          data: { type: 'text',
          url: '/workout_offerings/' + woff.id.to_s,
          resource: 'workout_offering',
          name: 'soft_deadline',
          xeditable: "true",
          pk: woff.id.to_s,
          model: 'workout_offering' } }= woff.soft_deadline
        %td.xeditable{ id: 'hard_deadline',
          data: { type: 'text',
          url: '/workout_offerings/' + woff.id.to_s,
          resource: 'workout_offering',
          name: 'hard_deadline',
          xeditable: "true",
          pk: woff.id.to_s,
          model: 'workout_offering' } }= woff.hard_deadline

%h2 Exercises

- if @exs.empty?
  .alert No exercises in this workout
- else
  - user_id = user_signed_in? ? current_user.id : 0
  - @exs.in_groups_of(2, false) do |row|
    = render partial: "exercises/exercise", collection: row, as: :x,
      locals: { uid: user_id, wid: @workout.id }
    .clearfix
