%h2 Sign up

= semantic_form_for resource, as: resource_name,
  url: registration_path(resource_name),
  html: { class: "form-horizontal" } do |f|
  = devise_error_messages!

  = f.inputs do
    = f.input :email, input_html:{ autofocus: true }
    = f.input :password
    = f.input :password_confirmation, required: true

  = f.actions do
    = f.submit 'Sign up', class: 'btn btn-primary'
    = render 'devise/shared/links'
