= form_for @stem do |f|
  - if @stem.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stem.errors.count, "error")} prohibited this stem from being saved:"
      %ul
        - @stem.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :preamble
    = f.text_area :preamble
  .actions
    = f.submit 'Save'
