= form_for @prompt do |f|
  - if @prompt.errors.any?
    #error_explanation
      %h2= "#{pluralize(@prompt.errors.count, "error")} prohibited this prompt from being saved:"
      %ul
        - @prompt.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :instruction
    = f.text_area :instruction
  .field
    = f.label :order
    = f.number_field :order
  .field
    = f.label :attempts
    = f.number_field :attempts
  .field
    = f.label :language
    = f.text_field :language
  .field
    = f.label :max_attempts
    = f.number_field :max_attempts
  .field
    = f.label :feedback
    = f.text_area :feedback
  .field
    = f.label :difficulty
    = f.text_field :difficulty
  .field
    = f.label :discrimination
    = f.text_field :discrimination
  .actions
    = f.submit 'Save'
