%h1 Listing prompts

%table
  %tr
    %th Instruction
    %th Order
    %th Attempts
    %th Language
    %th Max attempts
    %th Feedback
    %th Difficulty
    %th Discrimination
    %th
    %th
    %th

  - @prompts.each do |prompt|
    %tr
      %td= prompt.instruction
      %td= prompt.order
      %td= prompt.attempts
      %td= prompt.language
      %td= prompt.max_attempts
      %td= prompt.feedback
      %td= prompt.difficulty
      %td= prompt.discrimination
      %td= link_to 'Show', prompt
      %td= link_to 'Edit', edit_prompt_path(prompt)
      %td= link_to 'Destroy', prompt, method: :delete,
        data: { confirm: 'Are you sure?' }

%br

= link_to 'New Prompt', new_prompt_path
