%p#notice= notice

%p
  %b Instruction:
  = @prompt.instruction
%p
  %b Order:
  = @prompt.order
%p
  %b Attempts:
  = @prompt.attempts
%p
  %b Language:
  = @prompt.language
%p
  %b Max attempts:
  = @prompt.max_attempts
%p
  %b Feedback:
  = @prompt.feedback
%p
  %b Difficulty:
  = @prompt.difficulty
%p
  %b Discrimination:
  = @prompt.discrimination

= link_to 'Edit', edit_prompt_path(@prompt)
\|
= link_to 'Back', prompts_path
