%h1 Review access request

%br
= link_to(@requester.display_name, user_path(@requester))
requests access to the group
%i
  = @user_group.name
  = "."
%br
%p
  %small.text.text-warning
    - if @user_group.description
      = @user_group.description
    - else
      No group description available.
.col-md-4
  .btn-group
    = button_to 'Grant Access', '#', class: 'btn btn-success btn-sm'
    = button_to 'Deny Access', '#', class: 'btn btn-danger btn-sm'
%br
%p
  %small.text.text-warning
    You may exit this page without taking any action if you prefer.
