%h2 Resend unlock instructions

= semantic_form_for resource, as: resource_name,
  url: unlock_path(resource_name),
  html: { method: :post } do |f|
  = devise_error_messages!

  = f.inputs do
    = f.input :email, input_html: { autofocus: true }

  = f.actions do
    = f.submit 'Resend unlock instructions', class: 'btn btn-primary'
    = render 'devise/shared/links'
