= form_for @choice do |f|
  - if @choice.errors.any?
    -# #error_explanation
    -#.field_with_errors
      %h2= "#{pluralize(@exercise.errors.count, "error")} prohibited this exercise from being saved:"
      %ul
        - @exercise.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :answer
    = f.text_field :answer, placeholder: "Enter answer"
    = f.label :value
    = f.text_field :value, placeholder: "0 - 100"
-#  .actions
-#   = f.submit 'Save'
