%h1 Listing choices

%table
  %tr
    %th Prompt
    %th Answer
    %th Order
    %th Feedback
    %th Value
    %th
    %th
    %th

  - @choices.each do |choice|
    %tr
      %td= choice.prompt
      %td= choice.answer
      %td= choice.order
      %td= choice.feedback
      %td= choice.value
      %td= link_to 'Show', choice
      %td= link_to 'Edit', edit_choice_path(choice)
      %td= link_to 'Destroy', choice, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Choice', new_choice_path
