%h1 Listing Terms

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Season
      %th Starts on
      %th Ends on
      %th Year
      %th Actions

  %tbody
    - @terms.each do |term|
      %tr
        %td= term.season
        %td= term.starts_on
        %td= term.ends_on
        %td= term.year
        %td
          = link_to term, class: 'btn btn-mini' do
            %i.icon-zoom-in
            Show
          = link_to edit_term_path(term), class: 'btn btn-mini' do
            %i.icon-edit
            Edit
          = link_to term, method: :delete, class: 'btn btn-mini',            |
            data: { confirm: 'Are you sure?' } do                            |
            %i.icon-trash
            Destroy

= link_to new_term_path, class: 'btn' do
  %i.icon-plus
  New Term
