%h1 Terms

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Season
      %th Starts on
      %th Ends on
      %th Year
      %th Actions

  %tbody
    - @terms.each do |term|
      %tr
        %td= term.season
        %td= term.starts_on
        %td= term.ends_on
        %td= term.year
        %td
          = button_link 'Show', term, size: 'sm'
