%h1 Listing Terms

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Season
      %th Starts on
      %th Ends on
      %th Year
      %th Actions

  %tbody
    - @terms.each do |term|
      %tr
        %td= term.season
        %td= term.starts_on
        %td= term.ends_on
        %td= term.year
        %td
          = button_link 'Show', term, btn: 'mini'
          = button_link 'Edit', edit_term_path(term), btn: 'mini'
          = button_link 'Destroy', term, method: :delete, btn: 'mini',    |
            data: { confirm: 'Are you sure?' }                            |

= button_link 'New Term', new_term_path
