%p#notice= notice

%p
  %strong Season:
  = @term.season

%p
  %strong Starts on:
  = @term.starts_on

%p
  %strong Ends on:
  = @term.ends_on

%p
  %strong Year:
  = @term.year

= button_link 'Back', terms_path
