%p#notice= notice

%p
  %strong Season:
  = @term.season

%p
  %strong Starts on:
  = @term.starts_on

%p
  %strong Ends on:
  = @term.ends_on

%p
  %strong Year:
  = @term.year

= link_to edit_term_path(@term), class: 'btn' do
  %i.icon-edit
  Edit
= link_to terms_path, class: 'btn' do
  %i.icon-reply
  Back
