%tr
  %td
    = image_tag user.gravatar_url size: 40
  %td= user.last_name
  %td= user.first_name
  %td= user.email
  - if user_signed_in?
    %td= user.global_role.name
    %td
      = button_link 'Show', user, btn: 'mini'
      - if can? :update, user
        = button_link 'Edit', edit_user_path(user), btn: 'mini'
      - if can? :manage, User
        = button_link 'Destroy', user, method: :delete, btn: 'mini', data: { confirm: 'Are you sure?' }
