%p#notice= notice

%p
  %strong Gravatar:
  = image_tag @user.gravatar_url

%p
  %strong First name:
  = @user.first_name

%p
  %strong Last name:
  = @user.last_name

%p
  %strong Email:
  = @user.email
%br
- if @user.workout_scores[0]  
  %table{border: 1}
    %tr
      %td Workout name
      %td Score
    - @user.workout_scores.each do |user_score|
      %tr
        %td= Workout.find(user_score.workout_id).name
        %td= user_score.score  

%br    

- if can? :update, @user
  = button_link 'Edit', edit_user_path(@user)
= button_link 'Back', users_path
