%h2 Forgot your password?

= semantic_form_for resource, as: resource_name,
  url: password_path(resource_name),
  html: { method: :post, class: "form-horizontal" } do |f|
  = devise_error_messages!

  = f.inputs do
    = f.input :email, input_html: { autofocus: true }

  = f.actions do
    = f.submit 'Send me reset password instructions', class: 'btn btn-primary'
    = render 'devise/shared/links'
