<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<%= yield %>
<%=raw @openpop_results %>
<body onload="visualize(testvisualizerTrace);"/>
<head>
  <title>Java Visualizer</title>
  <style>
    #container {
      width: 780px;
      height: 540px;
    }
  </style>
  <%= stylesheet_link_tag('https://opendsa-server.cs.vt.edu/OpenDSA/JSAV/css/JSAV.css') %>
  <%= stylesheet_link_tag('https://opendsa-server.cs.vt.edu/OpenDSA/lib/odsaAV-min.css') %>
  <%= stylesheet_link_tag('https://opendsa-server.cs.vt.edu/OpenDSA/lib/odsaStyle-min.css') %>
  <%= javascript_include_tag('https://code.jquery.com/jquery-2.1.4.min.js') %>
  <%= javascript_include_tag('https://code.jquery.com/ui/1.11.4/jquery-ui.min.js') %>
  <%= javascript_include_tag('https://opendsa-server.cs.vt.edu/OpenDSA/JSAV/lib/jquery.transit.js') %>
  <%= javascript_include_tag('https://opendsa-server.cs.vt.edu/OpenDSA/JSAV/lib/raphael.js') %>
  <%= javascript_include_tag('https://opendsa-server.cs.vt.edu/OpenDSA/JSAV/build/JSAV-min.js') %>
  <%= javascript_include_tag('https://opendsa-server.cs.vt.edu/OpenDSA/lib/odsaUtils-min.js') %>
  <%= javascript_include_tag('https://opendsa-server.cs.vt.edu/OpenDSA/lib/odsaAV-min.js') %>
  


</head>

<body>

<div id="container">
  <div class="avcontainer">
    <span class="jsavcounter"></span>
    <div class="jsavcontrols"></div>
    <p class="jsavoutput jsavline"></p>
  </div> <!--avcontainer-->
</div> <!--container-->

</body>
</html>