= semantic_form_for @global_role, html: { method: :post, class: "form-horizontal" } do |f|
  = semantic_errors
  = f.inputs
  = f.actions do
    = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }
