%h1 Global Roles

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Can manage all courses
      %th Can edit system configuration
      %th Builtin
      %th Actions

  %tbody
    - @global_roles.each do |global_role|
      %tr
        %td= global_role.name
        %td= global_role.can_manage_all_courses
        %td= global_role.can_edit_system_configuration
        %td= global_role.builtin
        %td
          = button_link 'Show', global_role, size: 'sm'
          = button_link 'Edit', edit_global_role_path(global_role), size: 'sm'
          = button_link 'Destroy', global_role, :method => :delete,
            size: 'sm', :data => { :confirm => 'Are you sure?' }

= button_link 'New Global role', new_global_role_path
