%p#notice= notice

%p
  %b Name:
  = @global_role.name
%p
  %b Can manage all courses:
  = @global_role.can_manage_all_courses
%p
  %b Can edit system configuration:
  = @global_role.can_edit_system_configuration
%p
  %b Builtin:
  = @global_role.builtin

= button_link 'Edit', edit_global_role_path(@global_role)
= button_link 'Back', global_roles_path
