%h2 Sign in

= semantic_form_for resource, as: resource_name,
  url: session_path(resource_name),
  html: { class: "form-horizontal" } do |f|

  = f.inputs do
    = f.input :email, input_html:{ autofocus: true }
    = f.input :password

  = f.actions do
    = f.submit 'Sign in', class: 'btn btn-primary'
    = render 'devise/shared/links'
