%h1 Course Roles

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Can manage course
      %th Can manage assignments
      %th Can grade submissions
      %th Can view other submissions
      %th Builtin
      %th Actions

  %tbody
    - @course_roles.each do |course_role|
      %tr
        %td= course_role.name
        %td= course_role.can_manage_course
        %td= course_role.can_manage_assignments
        %td= course_role.can_grade_submissions
        %td= course_role.can_view_other_submissions
        %td= course_role.builtin
        %td
          = button_link 'Show', course_role, size: 'sm'
          = button_link 'Edit', edit_course_role_path(course_role), size: 'sm'
          = button_link 'Destroy', course_role, :method => :delete,
            size: 'sm', :data => { :confirm => 'Are you sure?' }

= button_link 'New Course role', new_course_role_path
