%p#notice= notice

%p
  %b Name:
  = @course_role.name
%p
  %b Can manage course:
  = @course_role.can_manage_course
%p
  %b Can manage assignments:
  = @course_role.can_manage_assignments
%p
  %b Can grade submissions:
  = @course_role.can_grade_submissions
%p
  %b Can view other submissions:
  = @course_role.can_view_other_submissions
%p
  %b Builtin:
  = @course_role.builtin

= button_link 'Edit', edit_course_role_path(@course_role)
= button_link 'Back', course_roles_path
