.nested-fields
  = f.inputs do
    .row.darker-bkg
      .row
        .col-md-3
          = f.input :term, as: :select, :include_blank => false,
              :label => "Term",
              :collection => Term.all
        .col-md-8
          = f.input :self_enrollment_allowed, as: :boolean, 
            :label => "Self enrollment allowed",
            :input_html => { :checked => true }
        .col-md-3
          = f.input :label, as: :string, required: false,
            placeholder: "MWF 9am",
            :input_html => { class: 'span12', rows: 1 }
      .row
        .col-md-6
          = f.input :url, as: :string, required: false,
            placeholder: "http://www.school.edu/course",
            input_html: { class: 'span12', rows: 1 }    