<div class="row">
	<div class="col-lg-6">
		<%= render "courses/filter" %>
	</div>
	<div class="col-lg-6">
		<%= render "exercises/sort_course_exercises" %>
	</div>
	
</div>


<div class="row">
	<div class="col-lg-6">
		<%= render "exercises/thumbnail_new" %>
	</div>
		<div class="col-lg-6">
		<%= render "exercises/thumbnail_progress" %>
	</div>
	
</div>
<div class="row">
	<div class="col-lg-6">
		<%= render "exercises/thumbnail_completed" %>
	</div>
		<div class="col-lg-6">
		<%= render "exercises/thumbnail_graded" %>
	</div>
	
</div>