= semantic_form_for @course, html: { class: "form-horizontal" } do |f|
  = f.semantic_errors
  .row
    .col-md-4
      = f.input :organization, as: :select
  .row
    .col-md-4
      = f.input :name, as: :string,
        placeholder: "Intro to Java"
  .row
    .col-md-4
      = f.input :number, as: :string,
        placeholder: "CS101"

  .row-fluid
    .span10
      %h2 What's your offer?
      #course_offerings
        .expand
          = f.semantic_fields_for :course_offering do |course_offering|
            = render 'course_offering_fields', f: course_offering
          
  = f.actions do
    = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }
