- if @course_offerings.any?
  .pull-right.dropdown
    = dropdown_button_tag 'Add Users', class: 'btn btn-primary'
    %ul.dropdown-menu
      %li
        = link_to 'Manually...', new_course_enrollment_path, remote: true
      %li
        = link_to 'Upload a roster...', '/#', remote: true

- @course_offerings.each do |offering|
  -# - if @course_offerings.size > 1
  -#   %h2= offering.display_name
  -# = form_tag '/course_offerings/'+ offering.id.to_s + '/upload_roster', multipart: true do
  -#   = file_field( "form", "rosterfile" )
  -#   = submit_tag "Submit File"
  %table.table.table-striped
    %thead
      %tr
        %th Image
        %th Last name
        %th First name
        %th Email
        %th Role
        %th
          %i.fa.fa-cog
    %tbody#roster
      - @sec = offering.course_enrollments.               |
        page(params[:page]).per(params[:per])             |
      = render @sec
  - if @sec.is_a?(Array)
    #roster_paginator= paginate @sec, remote: true
