<div class="row">
	<div class="col-lg-6">
		<%= render "courses/filter" %>
	
	</div>
	
	<div class="col-lg-6">
		<%= render "workouts/sort_course_workouts" %>
	</div>
	
</div>


<div class="row">
	<div class="col-lg-6">
		<%= render "workouts/thumbnail_new" %>
	</div>

	<div class="col-lg-6">
		<%= render "workouts/thumbnail_progress" %>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<%= render "workouts/thumbnail_completed" %>
	</div>

	<div class="col-lg-6">
		<%= render "workouts/thumbnail_graded" %>
	</div>
</div>