%h1 Listing Courses

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Number
      %th Organization
      %th Url part
      %th Actions

  %tbody
    - @courses.each do |course|
      %tr
        %td= course.name
        %td= course.number
        %td= course.organization_id
        %td= course.url_part
        %td
          = link_to course, class: 'btn btn-mini' do
            %i.icon-zoom-in
            Show
          = link_to edit_course_path(course), class: 'btn btn-mini' do
            %i.icon-edit
            Edit
          = link_to course, method: :delete, class: 'btn btn-mini',     |
            data: { confirm: 'Are you sure?' } do                       |
            %i.icon-trash
            Destroy

= link_to new_course_path, class: 'btn' do
  %i.icon-plus
  New Course
  