%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active= 'Courses'
  
%h1 Courses

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Number
      %th Organization
      %th Url part
      %th Actions

  %tbody
    - @courses.each do |course|
      %tr
        %td=link_to course.name, course_path(course)
        %td= course.number
        %td= course.organization_id
        %td= course.slug
        %td
          = button_link 'Show', course, size: 'sm'
          = button_link 'Edit', edit_course_path(course), size: 'sm'
          = button_link 'Destroy', course, method: :delete, size: 'sm',
            data: { confirm: 'Are you sure?' }

= button_link 'New Course', new_course_path
