= render 'layouts/breadcrumb'

%h1
  = @course.number_and_name
  %small= @term.display_name
- if @course_offerings && @course_offerings.any?
  %p
    - @course_offerings.each_with_index do |offering, i|
      - if i > 0
        %br/
      %strong= offering.display_name
      = surround '(', (offering.instructors.any? ? '),' : ')') do
        - if offering.is_manager? current_user
          = link_to 'edit', edit_course_offering_path(offering)
        - else
          = link_to 'unenroll', course_offering_unenroll_path(offering),
            method: :delete
      - if offering.instructors.any?
        = succeed ':' do
          = 'instructor'.pluralize(offering.instructors.size)
        = succeed (offering.graders.any? ? ',' : '') do
          != offering.instructors.map{ |i| link_to i.display_name,
            user_path(i) }.to_sentence
      - if offering.graders.any?
        = succeed ':' do
          = 'grader'.pluralize(offering.graders.size)
        != offering.graders.map{ |i| link_to i.display_name,
          user_path(i) }.to_sentence

  -#- if can? :edit, @course
    %p
      = button_link 'Edit Course Properties', edit_course_path(@course)
      = button_link 'Add an offering', new_course_path

  .container-fluid
    .navbar-collapse.collapse
      %ul.nav.nav-tabs
        %li.active
          %a{ href: '#workouts', data: { toggle: 'tab' } } Workouts
        - if !@is_student
          %li
            %a{ href: '#exercises', data: { toggle: 'tab' } } Exercises
        %li
          %a{ href: '#grades', data: { toggle: 'tab' } } Grades
        - if !@is_student
          %li
            %a{ href: '#roster', data: { toggle: 'tab' } } Roster

  %div.tab-content.under-collapsible

    .tab-pane.fade.in.active{ id: 'workouts' }
      = render 'tab_workouts'

    - if !@is_student
      .tab-pane.fade{ id: 'exercises' }
        = render 'tab_exercises'

    .tab-pane.fade{ id: 'grades' }
      = render 'tab_grades'

    - if !@is_student
      .tab-pane.fade{ id: 'roster' }
        = render 'tab_roster'

-else

  %h2 Offerings

  %table.table.table-striped{ style: 'width: auto' }
    %thead
      %tr
        %th Term
        %th Section
        %th Instructors
        %th Graders
        %th Enroll
    %tbody
      - @course.course_offerings.each do |off|
        %tr
          %td= off.term.display_name
          %td= off.display_name
          %td!= off.instructors.map{ |i| link_to i.display_name,
            user_path(i) }.to_sentence
          %td!= off.graders.map{ |i| link_to i.display_name,
            user_path(i) }.to_sentence
          %td
            = render partial: 'course_offerings/self_enrollment',
              locals: { off: off }
