%p#notice= notice

%p
  %strong Name:
  = @course.name

%p
  %strong Number:
  = @course.number

%p
  %strong Organization:
  = @course.organization_id

%p
  %strong URL part:
  = @course.url_part

= link_to 'Edit', edit_course_path(@course), class: 'btn'
= link_to 'Back', courses_path, class: 'btn'
