%p#notice= notice

.row
  .col-md-12
    %strong
    =@course.name + "(" + @course.number + ")"
.row
  .col
    %div
      %strong Offerings:
      %table{:border => 1}
        %tr
          %td Section
          %td Label
          %td Term
          %td Instructors
          %td Graders
        - @course.course_offerings.each do |off|
          %tr
            %td
              .col
                =link_to off.name, course_offering_path(off)
            %td                
              .span
                =off.label
            %td                
              .span
                = off.term.display_name 
            %td
              %ul{ style: 'list-style-type: none; padding: 0; margin: 0;' }
                - CourseEnrollment.where(course_offering_id: off.id).each do |ce|
                  - if ce.course_role_id == CourseRole.find_by(name: 'Instructor').id 
                    %li= User.find(ce.user_id).first_name + " " + User.find(ce.user_id).last_name 
            %td
              %ul{ style: 'list-style-type: none; padding: 0; margin: 0;' }
                - CourseEnrollment.where(course_offering_id: off.id).each do |ce|
                  - if ce.course_role_id == CourseRole.find_by(name: 'Grader').id 
                    %li= link_to User.find(ce.user_id).first_name + " " + User.find(ce.user_id).last_name, 'mailto:'+User.find(ce.user_id).email 


.container-fluid  
  .navbar-collapse.collapse
    %ul.nav.nav-tabs
      %li.active 
        %a{ href: '#wkts', data: { toggle: "tab" },value: 'Workout' }
          Workout
      %li
        %a{ href: '#exers', data: { toggle: "tab" },value: 'Exercises' }
          Exercises
      %li 
        %a{ href: '#grdes', data: { toggle: "tab" },value: 'Exercises' }
          Grades       
      %li 
        %a{ href: '#rostr', data: { toggle: 'tab' },value: 'Exercises' }
          Roster
        
%div.tab-content
  .tab-pane.fade.in.active{:id => 'wkts'}
    %ul
    - @course.course_offerings.each do |off|
      - off.workouts.each do |wkt|
        %li= link_to wkt.name, '/workouts/'+wkt.id.to_s         
  .tab-pane.fade{:id => 'exers'}
    %ul
    - @course.exercises.each do |ex|
      %div
        %strong
          %li= link_to ex.title, '/exercises/'+ex.id.to_s
  .tab-pane.fade{:id => 'grdes'}
    - if user_signed_in? && current_user.global_role_id == 2
      = button_to 'Download entire course gradebook', course_gradebook_path(@course,format: :csv)
    - @course.course_offerings.each do |off|
      %br
      - if !(cannot? :generate_gradebook, off)
        %b= off.name
        %table{border: 1}
          %tr
            %td First name
            %td Last name         
            - CourseOffering.find(off.id).workouts.each do |wkt|
              %td= wkt.name
            %td Total        
          - CourseEnrollment.where(course_offering_id: off.id).each do |ce|
            - if ce.course_role_id == CourseRole.find_by(name: 'Student').id 
              %tr
                %td= User.find(ce.user_id).first_name   
                %td= User.find(ce.user_id).last_name
                - grand_total = 0.0
                - CourseOffering.find(off.id).workouts.each do |wkt|
                  - if !WorkoutOffering.find_by(course_offering_id: off.id, workout_id: wkt.id).nil?
                    - if !Attempt.where(user_id: ce.user_id, workout_offering_id: WorkoutOffering.find_by(course_offering_id: off.id, workout_id: wkt.id).id).blank?
                      - tot = WorkoutScore.find_by!(user_id: ce.user_id, workout_id: wkt.id).score
                      %td= tot
                      - grand_total += tot    
                    - else
                      %td -/-
                %td= grand_total
          - if user_signed_in?        
            %p= button_to 'Download class gradebook', course_offering_gradebook_path(off,format: :csv)       
      - elsif user_signed_in?
        = off.name
        - ce = CourseEnrollment.find_by(course_offering: off.id,user_id: current_user.id)
        - if ce
          - if off.workouts.any?
            %table{border: 1}
              %tr
                %td Workouts
                %td Score
              - off.workouts.each do |wkt|
                %tr
                  %td= wkt.name
                  %td= WorkoutScore.find_by(workout_id: wkt.id,user_id: current_user.id)
               
      
  .tab-pane.fade{:id => 'rostr'}
    - @course.course_offerings.each do |off|
      %b= off.name  
      %ul
        - @sec = CourseEnrollment.where(course_offering_id: off.id).page(params[:page]).per(params[:per]) 
        #rosterer
          = render 'roster', sec: @sec
        #roster_paginator
          = paginate @sec
      %br               
              
%br
%br
%br
%br
%br


= link_to 'Add an offering', '/courses/new'
%br   
%br
%br     
= button_link 'Edit', edit_course_path(@course)
= button_link 'Back', courses_path