%h1= @course.number + (@course.name.blank? ? '' : (': ' + @course.name))

%h2 Offerings

%p
  here
  = @course.andand.number

%table{ class: 'table table-striped', style: 'width: auto' }
  %thead
    %tr
      %th Section
      %th Label
      %th Term
      %th Instructors
      %th Graders
  %tbody
    - @course.course_offerings.each do |off|
      %tr
        %td= link_to off.name, course_offering_path(off)
        %td= off.label
        %td= off.term.display_name
        %td
          %ul{ style: 'list-style-type: none; padding: 0; margin: 0;' }
            - off.instructors.each do |u|
              %li= link_to u.display_name, 'mailto:' + u.email
        %td
          %ul{ style: 'list-style-type: none; padding: 0; margin: 0;' }
            - off.graders.each do |u|
              %li= link_to u.display_name, 'mailto:' + u.email

- if user_signed_in? &&                                      |
  current_user.global_role_id >= GlobalRole::INSTRUCTOR_ID   |
  %p
    = button_link 'Edit Course Properties', edit_course_path(@course)
    = button_link 'Add an offering', new_course_path

.container-fluid
  .navbar-collapse.collapse
    %ul.nav.nav-tabs
      %li.active
        %a{ href: '#wkts', data: { toggle: "tab" } }
          Workouts
      %li
        %a{ href: '#exers', data: { toggle: "tab" } }
          Exercises
      %li
        %a{ href: '#grdes', data: { toggle: "tab" } }
          Grades
      %li
        %a{ href: '#rostr', data: { toggle: 'tab' } }
          Roster

%div.tab-content.under-collapsible

  .tab-pane.fade.in.active{ id: 'wkts' }
    %ul
      - @course.course_offerings.each do |off|
        - off.workouts.each do |wkt|
          %li= link_to wkt.name, '/workouts/'+wkt.id.to_s

  .tab-pane.fade{ id: 'exers' }
    %ul
      - @course.exercises.each do |ex|
        %li= link_to ex.title, '/exercises/' + ex.id.to_s

  .tab-pane.fade{ id: 'grdes' }
    - if user_signed_in? &&                                      |
      current_user.global_role_id >= GlobalRole::INSTRUCTOR_ID   |
      = button_to 'Download entire course gradebook',
        course_gradebook_path(@course, format: :csv)
    - @course.course_offerings.each do |off|
      %br
      - if !(cannot? :generate_gradebook, off)
        %b= off.name
        %table{border: 1}
          %tr
            %td First name
            %td Last name         
            - CourseOffering.find(off.id).workouts.each do |wkt|
              %td= wkt.name
            %td Total        
          - CourseEnrollment.where(course_offering_id: off.id).each do |ce|
            - if ce.course_role_id == CourseRole.find_by(name: 'Student').id 
              %tr
                %td= User.find(ce.user_id).first_name   
                %td= User.find(ce.user_id).last_name
                - grand_total = 0.0
                - CourseOffering.find(off.id).workouts.each do |wkt|
                  - if !WorkoutOffering.find_by(course_offering_id: off.id, workout_id: wkt.id).nil?
                    - if !Attempt.where(user_id: ce.user_id, workout_offering_id: WorkoutOffering.find_by(course_offering_id: off.id, workout_id: wkt.id).id).blank?
                      - tot = WorkoutScore.find_by!(user_id: ce.user_id, workout_id: wkt.id).score
                      %td= tot
                      - grand_total += tot    
                    - else
                      %td -/-
                %td= grand_total
          - if user_signed_in?        
            %p= button_to 'Download class gradebook', course_offering_gradebook_path(off,format: :csv)       
      - elsif user_signed_in?
        = off.name
        - ce = CourseEnrollment.find_by(course_offering: off.id,user_id: current_user.id)
        - if ce
          - if off.workouts.any?
            %table{border: 1}
              %tr
                %td Workouts
                %td Score
              - off.workouts.each do |wkt|
                %tr
                  %td= wkt.name
                  %td= WorkoutScore.find_by(workout_id: wkt.id,user_id: current_user.id)
               
      
  .tab-pane.fade{:id => 'rostr'}
    - @course.course_offerings.each do |off|
      %h3= off.name
      %ul
        - @sec = CourseEnrollment.where(course_offering_id: off.id).   |
          page(params[:page]).per(params[:per])                        |
        #rosterer
          = render 'roster', sec: @sec
        #roster_paginator
          = paginate @sec
