%p#notice= notice

%p
  %strong Name:
  = @course.name

%p
  %strong Number:
  = @course.number

%p
  %strong Organization:
  = @course.organization_id

%p
  %strong URL part:
  = @course.url_part

= link_to edit_course_path(@course), class: 'btn' do
  %i.icon-edit
  Edit
= link_to courses_path, class: 'btn' do
  %i.icon-reply
  Back
