%p#notice= notice

%p
  %strong Name:
  = @course.name

%p
  %strong Number:
  = @course.number

%p
  %strong Organization:
  = @course.organization_id

%p
  %strong URL part:
  = @course.url_part

= button_link 'Edit', edit_course_path(@course), 'edit'
= button_link 'Back', courses_path, 'reply'
