= semantic_form_for @course_offering, html: { class: "form-horizontal" } do |f|
  = f.semantic_errors
  = f.inputs
  = link_to "<i class=\"icon-upload\"> Upload Roster</i>".html_safe,
    upload_roster_path(@course_offering),
    class: "btn btn-inverse",
    remote: true
  %a.btn{"data-toggle" => "modal", href: "#upload_roster_modal", role: "button"} Modal
  = f.actions do
    = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }