- url = @url
- method = action_name == 'edit' ? :put : :post
= semantic_form_for @course_offering, url: url, html: { class: "form-horizontal col-xs-10", method: method } do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :label, input_html: { placeholder: "e.g. MWF 10:00am" }
    = f.input :term, collection: Term.where('ends_on > (?)', DateTime.now)
    = f.input :url
    = f.input :self_enrollment_allowed, label: false
    %br
    = f.input :cutoff_date, as: :date_picker, hint: 'The last date for self-enrollment.'
  = f.actions do
    = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }
    = f.action :cancel, as: :link, label: 'Cancel', url: organizations_path, button_html: { class: 'btn btn-default' }
