%h1 Listing Course Offerings

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Course
      %th Term
      %th Name
      %th Label
      %th URL
      %th Self enrollment allowed
      %th Actions

  %tbody
    - @course_offerings.each do |course_offering|
      %tr
        %td= course_offering.course_id
        %td= course_offering.term_id
        %td= course_offering.name
        %td= course_offering.label
        %td= course_offering.url
        %td= course_offering.self_enrollment_allowed
        %td
          = link_to course_offering, class: 'btn btn-mini' do
            %i.icon-zoom-in
            Show
          = link_to edit_course_offering_path(course_offering), class: 'btn btn-mini' do
            %i.icon-edit
            Edit
          = link_to course_offering, method: :delete, class: 'btn btn-mini', |
            data: { confirm: 'Are you sure?' } do                            |
            %i.icon-trash
            Destroy

= link_to new_course_offering_path, class: 'btn' do
  %i.icon-plus
  New Course Offering
  