%h1 Course Offerings

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Course
      %th Term
      %th Name
      %th Label
      %th URL
      %th Self enrollment allowed
      %th Actions

  %tbody
    - @course_offerings.each do |course_offering|
      %tr
        %td= course_offering.course_id
        %td= course_offering.term_id
        %td= course_offering.name
        %td= course_offering.label
        %td= course_offering.url
        %td= course_offering.self_enrollment_allowed
        %td
          = button_link 'Show', course_offering, btn: 'mini'
          = button_link 'Edit', edit_course_offering_path(course_offering), btn: 'mini'
          = button_link 'Destroy', course_offering, method: :delete,      |
            btn: 'mini', data: { confirm: 'Are you sure?' }               |

= button_link 'New Course Offering', new_course_offering_path
  