%p#notice= notice

%p
  %strong Course:
  = @course_offering.course_id

%p
  %strong Term -
  = Term.find(@course_offering.term_id).display_name

%p
  %strong Name:
  = @course_offering.name

%p
  %strong Label:
  = @course_offering.label

%p
  %strong URL:
  = @course_offering.url
%p
  %strong Instructor
  - instructor = @course_offering.course_enrollments.bsearch{|ce| ce.course_role_id == 1  }
  - instructor  = User.find(instructor.user_id) 
  = link_to instructor.name, user_path(instructor) unless instructor.nil?

%p
  %strong Graders/TA
  - assistants = @course_offering.course_enrollments.select{|ce| ce.course_role_id == 2  }
  - assistants.each do |a|
    - asst = User.find(a.user_id)
    %br
    = link_to asst.name, 'mailto:'+asst.email unless assistants.nil?  
   
%p
  %strong Self enrollment allowed:
  = @course_offering.self_enrollment_allowed
  %p
  %strong
  = link_to 'Add workouts', course_offering_add_workout_path(@course_offering)
  %br
  %strong 
  - if user_signed_in?  
    = link_to 'Enroll', 
    '/course_enrollments?'+ {:course_enrollment => ActionController::Parameters.new({user_id: current_user.id,
     course_offering_id: @course_offering, course_role_id: 3})}.to_param, method: :post
  - else
    = link_to 'Need to Sign in to enroll', new_user_session_path    


= button_link 'Edit', edit_course_offering_path(@course_offering)
= button_link 'Back', course_offerings_path
