%p#notice= notice

%p
  %b Prompt:
  = @choice.prompt
%p
  %b Answer:
  = @choice.answer
%p
  %b Order:
  = @choice.order
%p
  %b Feedback:
  = @choice.feedback
%p
  %b Value:
  = @choice.value

= link_to 'Edit', edit_choice_path(@choice)
\|
= link_to 'Back', choices_path
