%h1 Listing Organizations

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Display name
      %th URL part
      %th Actions

  %tbody
    - @organizations.each do |organization|
      %tr
        %td= organization.display_name
        %td= organization.url_part
        %td
          = link_to organization, class: 'btn btn-mini' do
            %i.icon-zoom-in
            Show
          = link_to edit_organization_path(organization), class: 'btn btn-mini' do
            %i.icon-edit
            Edit
          = link_to organization, method: :delete, class: 'btn btn-mini',    |
            data: { confirm: 'Are you sure?' } do                            |
            %i.icon-trash
            Destroy

= link_to new_organization_path, class: 'btn' do
  %i.icon-plus
  New Organization
