%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Courses


%h1
  = @term.display_name
  Courses by Organization

%p
  Switch to a different term:
  = select_tag 'term_id',
    options_for_select(Term.all.collect{ |t| [t.display_name, t.id] },
    @term.id),
    class: 'form-control inline'

- if @organizations.any?
  - @organizations.each do |organization|
    %h2= link_to organization.name, organization_path(organization)

    %ul
      - organization.courses.each do |course|
        %li
          = link_to course.number_and_name,
            organization_course_path(organization, course, @term)
          %table.table.table-striped{ style: 'width: auto' }
            %thead
              %th Term
              %th Section
              %th Instructor(s)
              %th Enroll
            %tbody
              - course.course_offerings.each do |o|
                %tr
                  %td= o.term.display_name
                  %td= link_to o.display_name,
                    organization_course_path(o.course.organization,
                    o.course, o.term)
                  %td!= o.instructors.map{ |i| link_to i.display_name,
                    user_path(i) }.to_sentence
                  %td= render partial: "course_offerings/self_enrollment",
                    locals: { off: o }
- else
  %p
    No organizations have courses offered in
    = @term.display_name
    at this time.
