%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Courses


%h1
  = @term.display_name
  Courses by Organization

%p
  Switch to a different term:
  = select_tag 'term_id',
    options_for_select(Term.all.collect{ |t| [t.display_name, t.id] },
    @term.id),
    class: 'form-control inline'

- if @organizations.any?
  - @organizations.each do |organization|
    %h2= organization.name

    %ul
      - organization.courses.each do |course|
        %li
          = link_to course.number_and_name,
            organization_course_path(organization, course, @term)
          %table.table.table-striped{ style: 'width: auto' }
            %thead
              %th Term
              %th Section
              %th Instructor(s)
              %th Enroll
            %tbody
              - course.course_offerings.each do |o|
                %tr
                  %td
                    = o.term.display_name
                  %td
                    = o.display_name
                  %td!= o.instructors.map{ |i| link_to i.display_name,
                    user_path(i) }.to_sentence
                  %td
                    - if !o.is_enrolled?(current_user)    
                      - if o.cutoff?
                        Self-enrollment not possible forevermore
                      - else
                        = link_to 'Enroll',                                                  |
                          '/course_enrollments?' + { course_enrollment:                      |
                          ActionController::Parameters.new({user_id: current_user.id,        |
                          course_offering_id: o.id,                           |
                          course_role_id: CourseRole::STUDENT_ID})}.to_param, method: :post  |
                    - else
                      You are already a part of this course


- else
  %p
    No organizations have courses offered in
    = @term.display_name
    at this time.
