%p#notice= notice

%p
  %strong Display name:
  = @organization.display_name

%p
  %strong Url part:
  = @organization.url_part

= link_to edit_organization_path(@organization), class: 'btn' do
  %i.icon-edit
  Edit
= link_to organizations_path, class: 'btn' do
  %i.icon-reply
  Back
