%p#notice= notice

%p
  %strong Display name:
  = @organization.display_name

%p
  %strong Url part:
  = @organization.url_part

= button_link 'Edit', edit_organization_path(@organization), 'edit'
= button_link 'Back', organizations_path, 'reply'
