#upload_roster_modal.modal.modal-wide.hide.fade
  .modal-header
    %h3 Upload Roster

  = form_tag upload_roster_path(@course_offering, action: :upload),
    remote: true, multipart: true, class: 'form-horizontal modal-form' do

    .modal-body.has-typeahead
      #flashbar-placeholder

      .control-group
        = label_tag :roster, 'Roster', class: 'control-label'
        .controls
          = file_field_tag :roster
      .control-group
        = label_tag :role, 'Add users with role', class: 'control-label'
        .controls
          = select_tag "CourseRole", options_for_select(CourseRole.all_roles)

      #roster-section2.hide
        %hr
        = label_tag :has_headers, class: 'checkbox' do
          = check_box_tag :has_headers
          This CSV file has a header row

        #roster-preview-wrapper
          = render partial: 'upload_roster/table'

    .modal-footer
      = submit_tag 'Enroll Users', class: 'btn btn-primary',
        id: 'enroll-users-button',
        data: { :'loading-text' => 'Adding users...' }