<h1>Listing exercises</h1>

<table>
  <tr>
    <th>Exercise_id</th>
    <th>code</th>
  </tr>

  <% @exercise.each do |exercise| %>
    <tr>
      <td><%= exercise.exercise_id %></td>
      <td><%= exercise.code %></td>
      <td><%= link_to 'Show', exercise_path(exercise) %></td>
      <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
      <td><%= link_to 'Destroy', exercise_path(exercise),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New exercise', new_exercise_path %>