.nested-fields
  = f.inputs do
    .row.darker-bkg
      .row
        .col-md-3
          = f.input :value, :as => :boolean,
            :label => "Correct"
        .col-md-6
          = link_to_remove_association "Remove answer...", f
      .row
        .col-md-10
          = f.input :answer, :as => :text,
            placeholder: "Enter answer text",
            :input_html => { :class => 'richtexteditor autogrow span10', :rows =>1 }
      .row
        .col-md-10
          = f.input :feedback,
            label: "Explanation",
            placeholder: "(optional) Answer explanation, given after submission",
            input_html: { :class => 'richtexteditor autogrow span10', :rows => 2}