= f.inputs name: 'Multiple Choice Settings' do
  = f.input :mcq_is_scrambled,
    label: 'Randomize answers'

  = f.input :mcq_allow_multiple,
    label: 'Allow multiple selections'

  = f.semantic_fields_for :choices do |choice|
    = choice.inputs do
      = choice.input :value, as: :boolean,
        label: 'Correct'
      = choice.input :answer, as: :text,
        placeholder: 'Enter answer text',
        input_html: { class: 'richtexteditor autogrow span10', rows: 1 }
      .form-group
        %span.form-wrapper
          = link_to_remove_association 'Remove answer...', choice

  -# The link below is commented out since it does not work correctly
  -# when included in this partial.
  -#.links
    = link_to_add_association 'Add Choice', f, :choices
