.nested-fields
  = f.inputs do
    .row.darker-bkg
      .row
        .col-md-10
          = f.input :base_class,
            label: "Base Class",
            placeholder: "Enter coding question's base class (used in the wrapper)"
      .row
        .col-md-10
          = f.input :test_method,
            label: "Test method",
            placeholder: "Name of method to be tested"            
      .row
        .col-md-10
          = f.input :wrapper_code, as: :text,
            placeholder: "Specify '___'(three underscores) to denote whether the answer code should be wrapped around",
            label: "Coding Wrapper"  
      .row
        .col-md-10
          = f.input :test_script, as: :text,
            placeholder: "Enter as CSV",
            label: "Test Cases"
      -#.row
        -#.col-md-10
          -##testcases
            -#= f.semantic_fields_for :test_cases do |test_case|
              -#= render 'test_case_fields', f: test_case
            -#.links
              -#= link_to_add_association "Add a Test Case", f, :test_cases  