= f.inputs name: 'Coding Question Settings' do

  = f.input :class_name,                                                |
    label: 'Class Name',                                                |
    placeholder: 'Enter the answer\'s class name (the class name ' +    |
    'used for the wrapper)'                                             |

  = f.input :method_name,
    label: 'Method Name',
    placeholder: 'The name of method written as the answer'

  = f.input :starter_code, as: :text,
    placeholder: 'Use "___" (three underscores) to denote where ' + 'the cursor should initially be placed',
    label: 'Initial Editor Contents'

  = f.input :wrapper_code, as: :text,                                   |
    label: 'Testing Wrapper'
    
  = f.semantic_fields_for :test_cases do |test_case|
    = render 'test_case_fields', f: test_case
  .links
    = link_to_add_association 'Add a Test Case', f, :test_cases
