= semantic_form_for @exercise, html: { class: "form-horizontal" } do |f|
  = f.semantic_errors

  .row
    .col-md-10
      = f.input :title, maxlength: 50,
        placeholder: "Enter question title"
  .row
    .col-md-10
      = f.input :question, 
        placeholder: "Enter question text",
        :input_html => { :class => 'richtexteditor autogrow span10', :rows => 5 }
  .row
    .col-md-10
      #coding_question
      = f.semantic_fields_for :coding_questions do |cq|
        = render 'coding_question_fields', f: cq
  .row
    .col-md-10
      = f.input :is_public, :label=> "Share with CodeWorkout community?", 
        :input_html => { checked: 'checked', value: true }
    
  .row
    .col-md-10
      = f.input :tags, :as => :select,
        :collection => @languages,
        :label => "Programming language"
  .row     
    .col-md-10
      = f.input :tags, :as => :select,
        :collection => @areas,
        :label => "Subject area"

  .row
    .col-md-4
      = f.input :experience, :as => :select,
        :collection => (10..100).step(10).to_a,
        :label => "Experience Points",
        :hint => "Amount gained for a correct answer"
  .row
    .col-md-10
      = f.input :feedback, label: "Question Explanation",
        placeholder: "(optional) Exercise explanation, given after submission",
        input_html: { :class => 'richtexteditor span10', :rows => 2 }
  .row
    .col-md-10
      = f.input :question_type, :as => :hidden,
        :input_html => { value: 2}
  .field
  .actions
    = f.submit class: 'btn btn-primary'
