#exercise_feedback
  - if !Attempt.where(user_id: current_user.id,exercise_id: @exercise.id).blank?
    - if @exercise.base_exercise.question_type == 1
      = Choice.find(Attempt.where(user_id: current_user.id,exercise_id: @exercise.id).last.answer.to_i).feedback
    - elsif @exercise.base_exercise.question_type == 2
      - @exercise.coding_question.test_cases.each_with_index do |test_case,i|
        = 'Test case '
        - i+=1
        - tcr = TestCaseResult.all.order('id desc').find_by(test_case_id: test_case.id, user_id: current_user.id)
        - if tcr.pass
          = i.to_s + '. Test Case successfully passed'
        - else
          = i.to_s + '. ' + tcr.execution_feedback
        %br
    %br
    - if params[:wexes].nil?
      = link_to 'Finish Workout', workout_evaluate_path(:uid => current_user.id,:wid => session[:current_workout])
    - elsif params[:wexes][1..-1].count>=0
      = link_to 'Next question', exercise_practice_path(:id => params[:wexes].first, :wexes => params[:wexes][1..-1]), method: :get
      
