= semantic_form_for @exercise, html: { class: 'form-horizontal' } do |f|
  = f.semantic_errors

  = f.input :name, maxlength: 255,
    placeholder: 'Enter question name'

  = f.input :is_public,
    label: 'Share with CodeWorkout community?'

  = f.input :tags, as: :select,
    collection: @languages,
    label: 'Programming language'

  = f.input :tags, as: :select,
    collection: @areas,
    label: 'Subject area'

  #tags
    = f.semantic_fields_for :tags do |t|
      = render 'tag_fields', f: t
    .links
      = link_to_add_association 'Add Tag...', f, :tags

  = f.input :experience, as: :select,
    collection: (10..100).step(10).to_a,
    label: 'Experience Points',
    hint: 'Amount gained for a correct answer'

  = f.input :question,
    placeholder: 'Enter question text',
    input_html: { class: 'richtexteditor autogrow span10', rows: 6 }

  - if qtype == 2
    = f.semantic_fields_for @exercise.coding_question do |cq|
      = render 'coding_question_fields', f: cq
  - else
    = render 'choice_fields', f: f

  = f.input :feedback,
    label: 'Question Explanation',
    placeholder: '(optional) Exercise explanation, given after submission',
    input_html: { class: 'richtexteditor span10', rows: 3 }

  = f.input :question_type, as: :hidden,
    input_html: { value: qtype }

  .actions
    = f.submit class: 'btn btn-primary'
