= semantic_form_for @exercise, html: { class: 'form-horizontal' } do |f|
  = f.semantic_errors

  = f.input :name, maxlength: 255,
    placeholder: 'Enter question name'

  = f.input :is_public,
    label: 'Share with CodeWorkout community?'
  
  = f.input :language_list, maxlength: 255, as: :string,
    placeholder: 'Enter the languages associated with this question'

  = f.input :tag_list, maxlength: 255,
    placeholder: 'Tags'

  = f.input :style_list, maxlength: 255, as: :string,
    placeholder: 'Styles'

  = f.input :experience, as: :select,
    collection: (10..100).step(10).to_a,
    label: 'Experience Points',
    hint: 'Amount gained for a correct answer'

  = f.input :exercise_family, as: :string,
    placeholder: 'Exercise Family'

  = f.input :external_id,
    placeholder: 'Enter a unique text ID for this question'
  
  = f.input :question_type, as: :hidden,
    input_html: { value: qtype }

  = f.semantic_fields_for :exercise_version do |ev|         
    = render 'exercise_version_fields', f: ev, qtype: qtype

  .actions
    = f.submit class: 'btn btn-primary'
