= form_for @exercise do |f|
  - if @exercise.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exercise.errors.count, "error")} prohibited this exercise from being saved:"
      %ul
        - @exercise.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
