= stylesheet_link_tag "exercise_uploader.scss"
= javascript_include_tag 'exercise_uploader.js'
%p.text.text-info
  Upload an existing YAML file or a TAR file from your computer.

- # list will be [ "Only Me", "user's", "user", "groups", "Everybody"
- access_control_items = @user_groups.map{ |g| [ g.name, g.id ] }.unshift(['Only Me', 0]).push(['Everybody', -1])
= semantic_form_for @exercise, url: exercises_upload_create_path(:org_external_id => @exercise.external_id, :exer_id => @exercise.id), method: :post do |f|
  .description-upload
    %label{:for => "exercise_description", :value => "test"}
      %a.btn.btn-info.btn-sm{class: 'btn btn-primary'} Load An Exercise Description
    = f.file_field :description, multiple: true, accept: '.zip,.yaml'
  = f.semantic_errors
  .row
    .col-md-4.col-sm-4
      = f.input :exercise_collection, as: :select, collection: access_control_items, 
        label: "Who can edit this exercise?", include_blank: false,
        selected: @exercise_collection || 0
  = f.semantic_fields_for :exercise_version do |ev|
    .row
      .col-md-9
        = ev.input :text_representation, maxlength: 16.megabytes - 1, as: :text,
          input_html: { class: 'code', autofocus: true, data: { lang: 'text/x-yaml' },
          value: @text_representation.present? ? @text_representation : '' }, 
          label: 'YAML Representation of the Exercise:' 
  = f.text_field :fileList, value: "", :type => "hidden"
  = f.text_field :file_orig_name, value: @ownerships_all, :type => "hidden"
  = f.text_field :file_hash_name, value: @ownerships_res_name, :type => "hidden"
  = f.text_field :image_dimensions, value: @ownerships_image_dimensions, :type => "hidden"
  #fileName
  #filelist.container.hidden
    .row
      .col-sm-9
        %table#tablelist.table
          %thead  
            %tr
              %th.col-sm-1  Type 
              %th.col-sm-2  Thumbnail
              %th.col-sm-2  Name
              %th.col-sm-2  Pixel
              -# %th.col-sm-1  Uploaded
              %th.col-sm-1  Delete
  .image-upload
    %label{:for => "exercise_files"} 
      %a.btn.btn-info.btn-lg{class: 'btn btn-primary'}
        %span.glyphicon.glyphicon-plus  
    = f.file_field :files, multiple: true, accept: 'image/png,image/gif,image/jpeg,image/jpg'
  = stylesheet_link_tag "exercise_uploader.scss"
  = javascript_include_tag 'exercise_uploader.js'
  %p 
  .row
    .col-md-9
      = f.submit class: 'btn btn-primary', value: 'Submit'
