-# %p.text.text-info
-#   Upload an existing YAML file or a TAR file from your computer.

- # list will be [ "Only Me", "user's", "user", "groups", "Everybody"
- access_control_items = @user_groups.map{ |g| [ g.name, g.id ] }.unshift(['Only Me', 0]).push(['Everybody', -1])
= semantic_form_for @exercise, url: exercises_upload_create_path(:org_external_id => @exercise.external_id, :exer_id => @exercise.id), method: :post do |f|
  = f.semantic_errors
  %h2 Exercise Permissions
  .row
    .col-md-4.col-sm-4
      = f.input :exercise_collection, as: :select, collection: access_control_items,
        label: "Who can use this exercise in workouts?", include_blank: false,
        selected: @exercise_collection || 0
  %h2 Exercise Desrciption
  .description-upload
    %label{:for => "exercise_description", :value => "test"}
      %a.btn.btn-info.btn-sm.btn.btn-primary Load a YAML file or ZIP file.
    = f.file_field :description, multiple: true, accept: '.zip,.yaml'
  %h2 Exercise Definition
  = f.semantic_fields_for :exercise_version do |ev|
    = ev.input :text_representation, maxlength: 16.megabytes - 1, as: :text,
    input_html: { class: 'code', autofocus: true, data: { lang: 'text/x-yaml' },
    value: @text_representation.present? ? @text_representation : '' },
    label: 'Exercise Definition:'
  = f.text_field :attached_files, value: @attached_files.to_json, :type => 'hidden'
  %h2 Images and Attachments
  #filelist.hidden
    %table#tablelist.table
      %thead
        %tr
          %th.col-sm-2  Name
          %th.col-sm-2  Thumbnail
          %th.col-sm-1  Dimensions
          %th.col-sm-1  Size
          %th.col-sm-1  Delete  
  .image-upload
    %label{:for => "exercise_files"} 
      %a.btn.btn-default.btn.btn-primary
        = icon_tag_for('fa-upload')
        Upload New Image(s)
    = f.file_field :files, multiple: true, accept: 'image/png,image/gif,image/jpeg,image/jpg'
  %h2 Save Changes
  = f.submit class: 'btn btn-primary', value: 'Save'
  %h2 Save Changes
  %h2 Save Changes
