%p.text.text-info
  Use the editor below or upload an existing YAML file from your computer.

- # list will be [ "Only Me", "user's", "user", "groups", "Everybody"
- access_control_items = @user_groups.map{ |g| [ g.name, g.id ] }.unshift(['Only Me', 0]).push(['Everybody', -1])
= semantic_form_for @exercise, url: exercises_upload_create_path, method: :post do |f|
  = f.semantic_errors
  .row
    .col-md-4.col-sm-4
      = f.input :exercise_collection, as: :select, collection: access_control_items, 
        label: "Who can edit this exercise?", include_blank: false,
        selected: @exercise_collection || 0
  = f.semantic_fields_for :exercise_version do |ev|
    .row
      .col-md-9
        = ev.input :text_representation, maxlength: 16.megabytes - 1, as: :text,
          input_html: { class: 'code', autofocus: true, data: { lang: 'text/x-yaml' },
          value: @text_representation.present? ? @text_representation : '' }, 
          label: 'YAML Representation of the Exercise:'
  .row
    = f.submit class: 'btn btn-primary', value: 'Submit'
