%article.exercise.thumbnail.sm
  .text
    .title
      - if x.base_exercise.is_mcq?
        %i.glyphicon.glyphicon-th-list
      - elsif x.base_exercise.is_coding?
        %i.fa-file-code-o
      - else
        %i.fa-keyboard-o
      = link_to x.name, exercise_practice_path(:id => x[:id])
      -#= difficulty_image(x.experience.to_i)
    = teaser(x.question)
    .info
      - attempt = nil
      - attempt_pct = 0
      - ex_workout = nil
      - if uid && uid != 0
        - attempt = Attempt.where(user_id: uid, exercise_id: x.id).last
        -if attempt && attempt.score > 0
          - attempt_pct = 100
        - if session[:current_workout]
          - ex_workout = ExerciseWorkout.find_by(exercise_id: x.id,
            workout_id: session[:current_workout])
          - if ex_workout && attempt
            - attempt_pct = number_to_percentage(attempt.score.round(2) / ex_workout.points)
      .pts
        - if attempt
          = n_to_s attempt.score.round(2)
          - plural = (attempt.score != 1)
        - if ex_workout
          = "/"
          = n_to_s ex_workout.points
          - plural = (ex_workout.points != 1)
          - if plural
            pts
          - else
            pt
        - elsif ex_workout
          = ex_workout.points
          - if ex_workout.points != 1
            pts
          - else
            pt

      .taglist
        - x.tags.each do |t|
          =link_to t[:tag_name], search_path(search: t[:tag_name]),
            method: :post, class: 'tag'
  .progress
    - att = Attempt.where(user_id: uid, exercise_id: x.id).last
    - ex_workout = nil
    - if wid
      - ex_workout = ExerciseWorkout.find_by(exercise_id: x.id, workout_id: wid)
    - if att && ex_workout
      - attemptp = attempt.score.round(2)
      - puts "AP",attemptp,"AP"
      .progress-bar{ role: 'progressbar',
        'aria-valuenow' => attempt_pct,
        'aria-valuemax' => 100,
        'aria-valuemin' => 0,
        style: 'width: ' + attempt_pct.to_s + '%;' }
        %progress{value: attemptp,max: ex_workout.points }
    - else
      .progress-bar{ role: 'progressbar',
        'aria-valuenow' => 0,
        'aria-valuemax' => 100,
        'aria-valuemin' => 0,
        style: 'width: 0%;' }
        %progress{value: 0,max: ex_workout.points }
