= stylesheet_link_tag "tag_cloud.scss"
%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Gym', gym_url
  %li.active Exercises
%br
%br
%br
-range = @languages_tags[0].taggings_count / 5
%ul.cloud.nav_cloud{"label" => "tag cloud", role: "navigation"}
  - tag_cloud(@languages_tags, %w()) do |tag, css_class|
    %li
      -if range > 0
        -size = (tag.taggings_count/2)/range
      -else
        -size = 0
      -count = tag.taggings_count / 2
      = link_to tag.name, { :controller => 'exercises', :action => 'search',:search=> tag.name}, :class => css_class, :enforce_utf8 =>false, :method => 'get', :data_weight => size,:count => count
%br
%br
%br
%br
-range = @style_tags[0].taggings_count / 5
%ul.cloud.nav_cloud{"label" => "tag cloud", role: "navigation"}
  - tag_cloud(@style_tags, %w()) do |tag, css_class|
    %li
      -if range > 0
        -size = tag.taggings_count/range
      -else
        -size = 0
      = link_to tag.name, { :controller => 'exercises', :action => 'search',:search=> tag.name}, :class => css_class, :enforce_utf8 =>false, :method => 'get', :data_weight => size,:count => tag.taggings_count

