%h2= @exercise.title + ": " + @score.to_s + "% Correct"
-#%p= @exercise.serve_question_html
-#- @responses.each do |resp|
-#  %p= resp.answer
- @explain.each do |ex|
  %p= CGI.unescapeHTML(ex).html_safe
%h2= @xp.to_s + " XP earned"
%hr
-#%h3 Session
-#%p 
-#  Exercise ID:
-#  = session[:exercise_id]
-#%p 
-#  Attempt #:
-#  = session[:submit_num]
-#TODO remove this, demo purposes only...
%h3 Write a hint to earn more XP 
= form_tag :controller => "exercises"  do
  .span12
    .span8
      = text_field_tag :hints, params[:search], 
        :class => "input.input-large", :placeholder => "Write a short hint...",
        :style => "vertical-align: top; width: 500px;"
    .span4
      = content_tag :button, :type => :submit, :class => "btn btn-inverse",
        :style => "vertical-align: top;" do
        %i.icon-plus
        Add Hint
      = content_tag :button, :type => :submit, :class => "btn btn-inverse",
        :style => "vertical-align: top;" do
        Next Exercise
        %i.icon-chevron-right
-if @score < 100
  %p.span6
    =link_to :back