%p.showme "this should be red text"
= form_for @exercise, :url => evaluate_path(@exercise) do |f|
  - if @exercise.errors.any?
    -# #error_explanation
    -#.field_with_errors
      %h2= "#{pluralize(@exercise.errors.count, "error")} prohibited this exercise from being saved:"
      %ul
        - @exercise.errors.full_messages.each do |msg|
          %li= msg
  %h2= @exercise.title
  %p= CGI.unescapeHTML(@exercise.serve_question_stem).html_safe
  %p= CGI.unescapeHTML(@exercise.question).html_safe
  - if @exercise.type_name == 'Multiple Choice Question'
    - if @exercise.select_many?
      = collection_check_boxes(:exercise, :choice_ids, @answers, :id, :answer)
    - else
      = collection_radio_buttons(:exercise, :choice_ids, @answers, :id, :answer)

  .actions
    = f.submit 'Submit'
