= render partial: 'layouts/breadcrumb',
  locals: {wid: session[:current_workout], exid: @exercise.id, off: nil}
.col-md-7
  = semantic_form_for @exercise_version,
    url: exercise_evaluate_path(@exercise_version.exercise,
    exercise_version_id: @exercise_version.id,
    feedback_return: true), remote: true do |f|
    = f.semantic_errors
    %h1= @exercise.name
    - if @exercise_version.stem
      = markdown @exercise_version.stem.preamble
    - prompt = @exercise_version.prompts.first.specific
    = markdown prompt.question
    - if prompt.is_mcq?
      - answer = Choice.new
      - if prompt.allow_multiple
        %h2 Choose ALL that apply:
        .answers
          = f.semantic_fields_for answer do |p|
            = p.input :id,
              as: :check_boxes,
              collection: @answers,
              member_value: :id,
              member_label: :answer,
              selected: false,
              label: '&nbsp;'
      - else
        %h3 Select one answer:
        .answers
          = f.semantic_fields_for answer do |p|
            = p.input :id,
              as: :radio,
              collection: @answers,
              member_value: :id,
              member_label: :answer,
              label: '&nbsp;'
    - elsif prompt.is_coding?
      = f.input :answer_code, as: :text, class: 'code',                  |
        input_html: {                                                    |
          lang: 'text/x-' + (@exercise.language || 'java').downcase,     |
          value: prompt.starter_code                                     |
        }                                                                |
    .actions
      = f.submit 'Check my answer!', class: 'btn btn-primary'
    - if session[:current_workout].nil?
      %br
      = link_to "Practice a different #{@exercise.language} exercise",     |
        (@exercise.language ?                                              |
        random_exercise_path(language: @exercise.language) :               |
        random_exercise_path)                                              |
.col-md-5
  #exercisefeedback{style: 'display: none;'}
