.col-md-7
  = semantic_form_for @exercise, url: exercise_evaluate_path(@exercise,
    wexes: params[:wexes], feedback_return: true), remote: true do |f|
    = f.semantic_errors
    %h1= @exercise.title
    %p= make_html(@exercise.serve_question_html)
    - if @exercise.base_exercise.question_type == 1
      - if @exercise.mcq_allow_multiple
        %h2 Choose ALL that apply:
        .answers
          = f.semantic_fields_for @ex_attempt do |exa|
            = exa.input :choice_ids,
              as: :check_boxes,
              collection: @answers,
              member_value: :id,
              member_label: :answer,
              selected: false,
              label: "&nbsp;"
      - else
        %h2 Select one answer:
        .answers
          = f.input :choice_ids,
            as: :radio,
            collection: @answers,
            member_value: :id,
            member_label: :answer,
            label: "&nbsp;"
    - elsif @exercise.base_exercise.question_type == 2
      = f.input :answer_code, as: :text, class: 'code',                    |
        input_html: {                                                      |
          lang: 'text/x-' + (@exercise.language || 'java').downcase,       |
          value: @exercise.coding_question.starter_code                    |
        }                                                                  |
    .actions
      = f.submit 'Check my answer!', class: 'btn btn-primary'
    - if session[:current_workout].nil?
      %br
      = link_to "Practice a different #{@exercise.language} exercise",     |
        '/exercises_random_exercise' +                                     |
        (@exercise.language ? ('?language=' + @exercise.language) : '')    |
.col-md-5
  #exercisefeedback{style: 'display: none;'}
