= semantic_form_for @exercise, :url => exercise_evaluate_path(@exercise, :wexes => @wexs), html: { class: "form-horizontal" } do |f|
  = f.semantic_errors
  %h1= @exercise.title
  %p= @exercise.serve_question_html
  - if @exercise.type_name == 'Multiple Choice Question'
    - if @exercise.select_many?
      %p Choose ALL that apply:
      = f.input :choice_ids, 
        :as => :check_boxes, 
        :collection => @answers,
        :member_value => :id, 
        :member_label => :answer,
        :label => "&nbsp;"
    - else
      %p Select one answer:
      = f.input :choice_ids,
        :as => :radio,
        :collection => @answers,
        :member_value => :id,
        :member_label => :answer,
        :label => "&nbsp;"
  .actions
    = f.submit 'Submit Answer', class: 'btn btn-primary'
