= semantic_form_for @exercise, :url => evaluate_path(@exercise) do |f|
  = f.semantic_errors
  %h2= @exercise.title
  %p= @exercise.serve_question_html
  - if @exercise.type_name == 'Multiple Choice Question'
    - if @exercise.select_many?
      %p Choose ALL that apply:
      = f.input :choice_ids, 
        :as => :check_boxes, 
        :collection => @answers,
        :member_value => :id, 
        :member_label => :answer,
        :label => "&nbsp;",
        :input_html => {:checked => false}
    - else
      %p Select one answer:
      = f.input :choice_ids,
        :as => :select,
        :collection => @answers,
        :member_value => :id,
        :member_label => :answer,
        :label => "&nbsp;"
    -#  = collection_radio_buttons(:exercise, :choice_ids, @answers, :id, :answer)
  -#.actions
  -#  = f.submit 'Submit'
  -#=link_to "Submit", {:controller => :exercises, :action => :evaluate},
  -# {:method => :post }
  = f.actions do
    = f.action :submit, :label => "Submit",
      :button_html => { :action => :evaluate, :method => :post } 

  -#= render "exercises/evaluation_modal"