= render partial: 'layouts/breadcrumb',
  locals: {wid: session[:current_workout], exid: @exercise.id, off: nil}
.col-md-7
  = semantic_form_for @exercise, url: exercise_evaluate_path(@exercise,
    wexes: params[:wexes], feedback_return: true), remote: true do |f|
    = f.semantic_errors
    %h1= @exercise.name
    %p= make_html(@exercise.current_version.serve_question_html)
    - if @exercise.is_mcq?
      - if @exercise.current_version.prompts.first.specific.allow_multiple
        %h2 Choose ALL that apply:
        .answers
          = f.semantic_fields_for @ex_attempt do |exa|
            = exa.input :choice_ids,
              as: :check_boxes,
              collection: @answers,
              member_value: :id,
              member_label: :answer,
              selected: false,
              label: '&nbsp;ß'
      - else
        %h3 Select one answer:
        .answers
          = f.semantic_fields_for @exercise.current_version.prompts.first.specific do |p|
            = p.input :choice_ids,
              as: :radio,
              collection: @answers,
              member_value: :id,
              member_label: :answer,
              label: '&nbsp;'
    - elsif @exercise.is_coding?
      = f.input :answer_code, as: :text, class: 'code',                        |
        input_html: {                                                          |
          lang: 'text/x-' + (@exercise.language || 'java').downcase,           |
          value: @exercise.current_version.prompts.first.specific.starter_code |
        }                                                                      |
    .actions
      = f.submit 'Check my answer!', class: 'btn btn-primary'
    - if session[:current_workout].nil?
      %br
      = link_to "Practice a different #{@exercise.language} exercise",     |
        (@exercise.language ?                                              |
        random_exercise_path(language: @exercise.language) :               |
        random_exercise_path)                                              |
.col-md-5
  #exercisefeedback{style: 'display: none;'}
