= render partial: 'layouts/breadcrumb'

%p#notice= notice
= link_to 'Edit', edit_exercise_path(@exercise)
%p
  %strong Name:
  %p.xeditable{ id: 'name',
    data: { type: 'text',
    url: '/exercises/' + @exercise.id.to_s,
    resource: 'exercise',
    name: 'name',
    xeditable: "true",
    pk: @exercise.id.to_s,
    model: 'exercise' } }= image_tag @exercise.name

%p
  %strong Question:
  %p.xeditable{ id: 'question',
    data: { type: 'text',
    url: '/exercises/' + @exercise.id.to_s,
    resource: 'exercise',
    name: 'question',
    xeditable: "true",
    pk: @exercise.id.to_s,
    model: 'exercise' } }= @exercise.question

%p
  %strong Feedback
  %p.xeditable{ id: 'feedback',
    data: { type: 'text',
    url: '/exercises/' + @exercise.id.to_s,
    resource: 'exercise',
    name: 'feedback',
    xeditable: "true",
    pk: @exercise.id.to_s,
    model: 'exercise' } }= @exercise.feedback

%p
  %strong Created:
  %p= @exercise.created_at
%br
- if @exercise.base_exercise.is_coding?
  - language = @exercise.language || 'Java'
  - test_end_code = generate_tests(@exercise.id,
    language,
    @exercise.coding_question.class_name,
    @exercise.coding_question.method_name)
  - puts "\nTEST CODE"
  - base_test_file = File.open("usr/resources/#{language}/#{language}BaseTestFile.#{Exercise.extension_of(language)}", 'rb').read
  - test_base = base_test_file.gsub('baseclassclass', @exercise.coding_question.class_name)
  - testing_code = test_base.gsub('TTTTT', test_end_code)
  - puts testing_code

%p
  %a.xeditable{ href: '#',
    id: 'xeditable',
    data: { type: 'text',
    url: '/exercises/' + @exercise.id.to_s,
    resource: 'exercise',
    name: 'experience',
    xeditable: "true",
    pk: @exercise.id.to_s,
    model: 'exercise' } }= @exercise.experience


= button_link'Back', exercises_path

= button_link'Practice', exercise_practice_path(@exercise) if @exercise.language == 'Java'
