= render partial: 'layouts/breadcrumb'

%p#notice= notice
%p
  %strong Name: 
  = @exercise.display_name

%p
  %strong Question: 
  = @exercise.current_version.prompts.first.specific.question


%p
  %strong Created:
  %p= @exercise.created_at

%ul
  - if @exercise.language != 'Java'
    %li= link_to 'Convert to Java', convert_exercise_path(id: @exercise.id, language: 'Java')
  - if @exercise.language != 'Ruby'
    %li= link_to 'Convert to Ruby', convert_exercise_path(id: @exercise.id, language: 'Ruby')  
  - if @exercise.language != 'Python'
    %li= link_to 'Convert to Python', convert_exercise_path(id: @exercise.id, language: 'Python')
%p
  %a.xeditable{ href: '#',
    id: 'xeditable',
    data: { type: 'text',
    url: '/exercises/' + @exercise.id.to_s,
    resource: 'exercise',
    name: 'experience',
    xeditable: "true",
    pk: @exercise.id.to_s,
    model: 'exercise' } }= @exercise.experience

