%p#notice= notice
= link_to 'Edit', edit_exercise_path(@exercise)
%p
  %strong Title:
  = image_tag @exercise.title

%p
  %strong Question:
  = @exercise.question

%p
  %strong Feedback:
  = @exercise.feedback

%p
  %strong Created:
  = @exercise.created_at

%p
  %strong Experience:
  = @exercise.experience
  


= button_link'Back', exercises_path
