%header.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      = link_to 'CodeWorkout', root_path, class: 'navbar-brand'
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.nav-top
        %li= link_to 'The Gym', '/gym'
        %li= link_to 'Your Achievements'
        %li= link_to 'CS 1114', '#'
      %ul.nav.navbar-nav.navbar-right.nav-top
        - if user_signed_in?
          %li.hidden-phone
            = link_to '#' do
              %span.badge.badge-info 3
              Alerts
          - if current_user.global_role.can_edit_system_configuration?
            %li.dropdown
              %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
                %i.glyphicon.glyphicon-wrench
                %i.fa.fa-caret-down.hidden-phone
              %ul.dropdown-menu
                %li.dropdown-header Manage
                %li= link_to icon_tag_for('user') + ' Users', users_path
                %li= link_to icon_tag_for('fa-sitemap') + ' Organizations', organizations_path
                %li= link_to icon_tag_for('calendar') + ' Terms', terms_path
                %li= link_to icon_tag_for('book') + ' Courses', courses_path
                %li= link_to icon_tag_for('fa-group') + ' Course offerings', course_offerings_path
          %li= link_to current_user.email, current_user
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-sign-out
        - else
          %li= link_to 'Sign Up', new_user_registration_path
          %li= link_to 'Sign In', new_user_session_path
