%header.navbar.yamm.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      = link_to 'CodeWorkout', root_path, class: 'navbar-brand'
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.nav-top
        %li.dropdown
          %a.dropdown-toggle{ href: '/gym',
            data: { toggle: 'dropdown' }, value: 'Gym' }
            Gym
          %ul.dropdown-menu
            %li
              .yamm-content
                .row
                  %ul.col-sm-6.list-unstyled
                    %li
                      %strong
                        Workouts
                    %li= link_to 'Workout 18', '/workouts/18'
                    %li= link_to 'Workout 19', '/workouts/19'
                    %li= link_to 'Workout 20', '/workouts/20'
                    %li= link_to 'Workout 21', '/workouts/21'
                  - if user_signed_in? &&                                    |
                    current_user.global_role.can_edit_system_configuration?  |
                    %ul.col-sm-6.list-unstyled
                      %li
                        %strong
                          Manage Workouts
                      %li= link_to 'Workouts', '/workouts/'
                      %li= link_to 'Create Workout', '/workouts/new'
                - if user_signed_in? &&                                      |
                  current_user.global_role.can_edit_system_configuration?    |
                  .row
                    %ul.col-sm-6.list-unstyled
                      %li
                        %strong
                          = link_to 'Exercises','/exercises'
                      %li= link_to 'Upload Exercises - CSV',
                        exercises_upload_path
                      %li= link_to 'Upload Exercises - MCQ',
                        exercises_upload_mcqs_path
                    %ul.col-sm-6.list-unstyled
                      %li
                        %strong
                          Manage Exercises
                      %li= link_to 'Edit Exercise', '/exercises/edit'
                      %li= link_to 'Create Exercise', '/exercises/new'
        %li.dropdown
          %a.dropdown-toggle{ href: '/courses',
            data: { toggle: 'dropdown' }, value: 'Course' }
            Course
          %ul.dropdown-menu
            %li
              .yamm-content
                .row
                  - if user_signed_in? && current_user.course_enrollments.any?
                    %ul.col-sm-6.list-unstyled
                      %li
                        %strong
                          My Courses
                      - current_user.course_enrollments.each do |ce|
                        %li= link_to CourseOffering.find(ce.course_offering_id).display_name,
                          course_offering_path(ce.course_offering_id)
                  %ul.col-sm-6.list-unstyled
                    %li
                      %strong
                        =link_to 'Other Courses', courses_path
                    %li= link_to 'CS 10', '/courses/10'
                    %li= link_to 'CS 12', '/courses/12'
                  - if user_signed_in? && current_user.global_role.is_instructor?
                    %ul.col-sm-6.list-unstyled
                      %li
                        %strong
                          Manage Courses
                      %li= link_to 'Edit Course', '/courses/'
                      %li= link_to 'Create Course', '/courses/new'

      -#= f.actions do
        -#= f.submit 'Sign up', class: 'btn btn-primary'
        -#= render 'devise/shared/links'


      %ul.nav.navbar-nav.navbar-right.nav-top
        %li
          = render :partial => 'exercises/search'
        - if user_signed_in?
          - if current_user.global_role.can_edit_system_configuration?
            %li= link_to icon_tag_for('wrench'), admin_dashboard_path
          %li= link_to current_user.email, current_user
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-sign-out
        - else
          %li.dropdown
            %a.dropdown-toggle{ href: '/signin',
              data: { toggle: 'dropdown' }, value: 'Sign in' }
              Sign in
            %ul.dropdown-menu.signin
              %li
                = link_to user_omniauth_authorize_path(:facebook),
                  class: 'btn btn-social btn-facebook' do
                  %i.fa.fa-facebook
                  Sign in with Facebook
              %li
                = link_to user_omniauth_authorize_path(:google_oauth2),
                  class: 'btn btn-social btn-google-plus' do
                  %i.fa.fa-google
                  Sign in with Google
              %li
                %div
                  .yamm-content
                    = render '/devise/sessions/new'
          %li= link_to 'Sign Up', new_user_registration_path
          -#%li= link_to 'Sign In', new_user_session_path
