%header.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      = link_to 'CodeWorkout', root_path, class: 'brand'
      %nav.nav-collapse.collapse
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
              The Gym
              %i.icon-caret-down.hidden-phone
            %ul.dropdown-menu
              %li= link_to 'Trending now', '#'
              %li= link_to 'Assigned exercises', '#'
              %li= link_to 'Attempted exercises', '#'
              %li= link_to 'Newest exercises', '#'
              %li= link_to 'Challenging exercises', '#'
              %li= link_to 'Recommended for you', '#'
          %li= link_to 'Your Achievements'
          %li= link_to 'CS 1114', '#'
        %ul.nav.pull-right
          %li.hidden-phone
            = link_to '#' do
              %span.badge.badge-info 3
              Alerts
          %li.dropdown
            %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
              %i.icon-wrench
              %i.icon-caret-down.hidden-phone
            %ul.dropdown-menu
              %li.nav-header Manage
              %li= link_to 'Organizations', organizations_path
              %li= link_to 'Terms', terms_path
              %li= link_to 'Courses', courses_path
              %li= link_to 'Course offerings', course_offerings_path
          %li= link_to 'Joe Hokie', '#'
          %li
            = link_to '#' do
              %i.icon-signout
