%header.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    %nav.navbar-header.brand= link_to 'CodeWorkout', root_path, class: 'brandname'
    %nav.nav-collapse.collapse
      %ul.nav
        %li= link_to 'The Gym', '/gym'
        %li= link_to 'CS 1114', '#'
        %li= render :partial => 'exercises/search'
      %ul.nav.pull-right
        - if user_signed_in?
          %li.hidden-phone
            = link_to '#' do
              %span.badge.badge-info 3
          %li= link_to 'Achievements'
          - if current_user.global_role.can_edit_system_configuration?
            %li.dropdown
              %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
                %i.icon-wrench
                %i.icon-caret-down.hidden-phone
              %ul.dropdown-menu
                %li.nav-header Manage
                %li= link_to icon_tag_for('user') + ' Users', users_path
                %li= link_to icon_tag_for('sitemap') + ' Organizations', organizations_path
                %li= link_to icon_tag_for('calendar') + ' Terms', terms_path
                %li= link_to icon_tag_for('book') + ' Courses', courses_path
                %li= link_to icon_tag_for('group') + ' Course offerings', course_offerings_path
          %li= link_to current_user.email, current_user
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.icon-signout
        - else
          %li= link_to 'Sign Up', new_user_registration_path
          %li= link_to 'Sign In', new_user_session_path          