.max-height#main{class: "#{controller_name}-#{action_name}"}
  .scrollable.max-height.content
    .inner.max-height
      .below-nav
        = render partial: 'layouts/flash'
        .container
          .row
            = render partial: 'layouts/sidebar'
          .row
            = yield
