<!DOCTYPE html>
<html>
<head>
  <title>CodeWorkout</title>
  <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<!--
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to "CodeWorkout", '#', class: "brand" %>
        <nav class="nav-collapse collapse">
          <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">Sign In</a>
          </p>
          <ul class="nav">
            <li class="active"><%= link_to "Home",    '#' %></li>
            <li><%= link_to "Help",    '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="container-fluid max-height" foo="main"> -->
    <%= yield %>

<!--  <div id="push"></div>
  <footer class="footer navbar navbar-inverse"><div class="navbar-inner">
  	<div class="container-fluid">
    <nav class="nav-collapse collapse">
      <ul class="nav">
      	<li><a href="http://codeworkout.org/">CodeWorkout
          &copy; Virginia Tech</a></li>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
    </div>
  </div></footer>
  </div> -->
</body>
</html>
