= inside_layout do
  .row.max-height#main
    .col-md-3.scrollable.max-height.sidebar
      .below-nav
        .excercise-wrapper
          = render partial: 'exercises/thumbnail_new'
        .excercise-wrapper
          = render partial: 'exercises/thumbnail_new'
    .col-md-9.scrollable.max-height.content
      .below-nav
        = render partial: 'layouts/flash'
        = yield
