= inside_layout do
  .row.max-height#main
    .col-md-3.scrollable.max-height.sidebar
      .below-nav
        = render partial: 'layouts/sidebar'
    .col-md-6.scrollable.max-height.content
      .below-nav
        = render partial: 'layouts/flash'
        = yield
    .col-md-3.scrollable.max-height.content
      .below-nav
        = render partial: 'exercises/feedback'
